@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 1%;
}
.container .contact_profile{
    position: relative;
    background: #1d4355;
    padding: 250px 190px;
    margin: 0 30% 0 4%;
    float: left;
}
.container .name_liability{
    position: relative;
    background: #365b6d;
    padding: 100px;
    margin: 9% 0 0 43.4vh ;

}
#profile{
    width: 00px;

}